/data
/documentation
/venv
/input
/output
/web/node_modules
/web/.next
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env
.venv
/web/.env.local

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

